@media (min-width: 460px) {
    .alf-region-flexible {
        padding: 0 5% !important;
    }

    .alf-container-inline {
        max-width: 460px;
        float: left;
        margin: 0 25px 25px 0;
    }
}

@media (min-width: 600px) {
    .alf-region-flexible {
        padding: 0 10% !important;
    }
}

@media (max-width: 460px) {
    .alf-container-inline {
        img {
            width: 100%;
            height: auto;
        }
    }
}