@media (min-width: 460px) {
    .alf-region-flexible {
        padding: 0 5% !important;
    }

    .alf-container-inline {
        max-width: 460px;
        float: left;
        margin: 0 25px 25px 0;
    }
}

@media (min-width: 600px) {
    .alf-region-flexible {
        padding: 0 10% !important;
    }
}

@media (max-width: 460px) {
    .alf-container-inline {
        img {
            width: 100%;
            height: auto;
        }
    }

    .top-image {
        .overlay-caption {
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            color: #FFF;
            padding: 5px 18px;
            font-family: "Open Sans";
        }
    }
}