<div data-name="Flex test"
    data-map="article"
    class="alf-template alf-grid alf-cols-2 tmpl-landscape-slim-2"
    data-filter-page-pos="!1"
    data-filter-format-name="ipad_landscape"
    >


    <div class="alf-col-1 alf-colspan-2 landscape-slim-media flex-container alf-is-resizable">
         <div class="flex-left alf-is-resizable no-overflow">
             <div class="alf-container alf-is-draggable" data-map="3x4-large-media-only"></div>
         </div>
         <div class="flex-right">
             <div class="alf-is-resizable no-overflow">
                 <div class="alf-container alf-is-draggable" data-map="16x9-large-media-only 4x3-large-media-only 1x1-large-media-only landscape-slim-large-media-only"></div>
             </div>
             <div class="no-overflow">
                <div class="alf-container alf-is-draggable" data-map="16x9-large-media-only 4x3-large-media-only 1x1-large-media-only landscape-slim-large-media-only"></div>
             </div>
         </div>
    </div>

    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>

    <div class="alf-col-2 alf-region alf-flex"></div>

    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large landscape-slim-large"></div>
</div>