<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="First page w mage on top" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container alf-image top-image" data-map="*-large" data-select="img:first"></div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="*-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container top-image" data-map="*-large" data-select="img:first"></div>
    <div class="article-body">
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="*-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large"></div>
</div>

