<div data-map="article" class="alf-template alf-grid alf-cols-5 print" data-name="Print frontpage" data-filter-page-pos="1" data-filter-format-name="print_ubuntu">
    <div class="alf-col-1 alf-colspan-5 alf-container" data-map="title"></div>
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
        <div class="alf-container-inline byline" data-map="byline"></div>
    </div>
    <div class="alf-col-2 alf-colspan-3">
        <div class="alf-container" data-map="*-large"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-region alf-flex"></div>
    <div class="alf-col-4 alf-region alf-flex"></div>
    <div class="alf-col-5 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-colspan-3">
        <div class="alf-container" data-map="*-large"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="16x9-large-media-only 4x3-large-media-only 4x3-large landscape-generic-large"></div>
</div>
